* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none !important;
        color: inherit !important;
    }
}

$red-color: #b00503;

@import 'header';
@import 'benefits';
@import 'search';
@import 'new_arrivals';
@import 'footer';
@import 'carousel';
