* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register-page-wrapper {
  height: calc(60vh);
}

.register-page-wrapper .register-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
  width: 100%;
  height: 22rem;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .links .black-bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .links .black-bg img {
  width: 100%;
}

.header .links .black-bg .icons-social {
  width: 95%;
  margin: auto;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .links .black-bg .icons-social .empty {
  width: 70%;
}

.header .links .black-bg .icons-social .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .links .black-bg .icons-social img {
  width: 1.5rem;
}

.header .links .logo {
  width: 15%;
}

.header .links .logo h1 {
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  color: #b00503;
}

.header .menu-items {
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-family: 'Lato', sans-serif;
  height: 3.5rem;
}

.header .menu-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 !important;
}

.header .menu-items ul li {
  cursor: pointer;
  margin: 0 2rem 0 0;
}

.header .menu-items .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu-items .login button {
  margin: 0.2rem 3rem;
  padding: 0 3rem;
}

.red-btn {
  background: #b00503;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.active {
  position: relative;
}

.active::before {
  -webkit-transform: translateY(1.5rem) translateX(-50%);
          transform: translateY(1.5rem) translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #b00503;
  height: 0.5rem;
  content: '';
  width: 0.5rem;
  left: 50%;
  cursor: default;
}

.footer {
  margin: 3rem 0 0 0;
  height: 5rem;
  background-color: #c4c4c4;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer .rights {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.footer .rights h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.photo-change-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 14rem;
}

.photo-change-wrapper .photo-wrapper {
  width: 10rem;
  height: 10rem;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.photo-change-wrapper .add-photo-button-wrapper .add-photo-button {
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.register-wrapper {
  width: 50rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-wrapper .register-form-wrapper {
  width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 20rem;
      grid-template-columns: 20rem 20rem;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .register-form-wrapper .register-form-input-wrapper {
  width: 100%;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .register-form-wrapper .register-form-input-wrapper .register-form-input {
  width: 15rem;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 0.5rem;
}

.register-wrapper .register-form-wrapper .register-form-input-wrapper .register-form-text {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.register-wrapper .register-button-wrapper {
  position: relative;
  height: 3rem;
  width: 100%;
}

.register-wrapper .register-button-wrapper .register-button {
  left: 31rem;
  position: absolute;
  background-color: #c4c4c4;
  width: 15rem;
  height: 100%;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
/*# sourceMappingURL=register_page.css.map */